.red {

    background-color: rgb(192, 17, 17);

}

.green {

    background-color: rgb(92, 180, 92);

}

.pink {

    background-color: pink;
}
.purple {

    background-color: plum;
}

.blue {
background-color: cornflowerblue;

}