.red {

    background-color: rgb(192, 17, 17);

}

.green {

    background-color: rgb(92, 180, 92);

}

.pink {

    background-color: pink;
}
.purple {

    background-color: plum;
}

.blue {
background-color: cornflowerblue;

}

.contactUsTitle > h1 {
    text-align: center ;
    width: 100%;
    margin: 0 auto;
    font-family: 'Staatliches', cursive;
}

.wsf-button, .wsf-button-primary, .wsf-button-full {
    width: 100%;
    background-color: #0a415e !important;
    border-color: #0a415e !important;
}

.wsf-label  {
    font-family: 'Lato', sans-serif;

}
