/* OVERALL STYLES ----------------------------------------------------------------------------------------------------------------------------------------- */

body {
	font-family: 'Lato', sans-serif;
}

a {
	color: #0a415e;
}

h1 {
	font-family: 'Staatliches', cursive;
}

.logo1 {
	width: 85px;
	margin: 7px;
	overflow: auto;
}

/*Header changes on all sizes -------------------------------------------------------------------------------------------------------------------------------- */

.header1 {
	height: 100px;
	width: 100%;
	background-color: #0a415e;
}

.menu .is-active>a {
	background-color: #fff !important;
	color: #1468a0;
}

.menu li {
	list-style: none;
}

.is-dropdown-submenu-parent.opens-right>.is-dropdown-submenu {
	margin-top: 40px;
	right: auto;
	left: -10px;
	border-top: 1px solid#aa2527;
	border-left: none;
	border-right: none;
	border-bottom: none;
	font-size: 10pt;
	width: 50px;
}

.dropdown .is-dropdown-submenu a {
	padding: .4rem .2rem;
}

.is-dropdown-submenu {
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	display: none;
	min-width: 90px;
	border: 1px solid #cacaca;
}
     
.entry-title {
		margin-top: 70px;
		text-align: center;
	}

/* COLOR CLASSES ---------------------------------------------------------------------------------------------------------------------------------------------- */

.blue {
	color: #0a415e;
}

.green {
	color: #1a8263;
}

.red {
	color: #901f21;
}

.pink {
	background-color: #0E425D;
}


/* SPACING CLASSES ----------------------------------------------------------------------------------------------------------------------------------------- */

.top-space {
	margin-top: 3vw;
}

.bottom-space {
	margin-bottom: 5vw;
}


/* BUTTON STYLE -------------------------------------------------------------------------------------------------------------------------------------------- */

.button {
	background-color: #aa2527;
	color: #fff;
	border-radius: 0.3rem;
	width: 20rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button h4 {
	margin-bottom: 0;
}

.button:hover {
	background-color: #901f21;
}


/* NAV ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.site-description,
.menu-toggle,
.site-title {
	display: none;
}

.top-bar ul {
	background-color: #fff !important;
}

#example-animated-menu,
.menu-main-container,
#primary-menu {
	background-color: #fff !important;
}

.logoImg {
	width: 120px;
	height: auto;
	margin-left: 40%;
	margin-top: 30px;
	text-align: center;
}

#primary-menu {
    margin-top: 60px;
}

.smallNav {
    display: none;
}



/* HOME PAGE --------------------------------------------------------------------------------------------------------------------------------------------------- */

        /* 4 images with backgrounds as images and logos on html, added overlay gradient */

 
.corefx {
	width: 100%;
	background: linear-gradient(0deg, #0a415eb2, #042a3f8a), url('/wp-content/themes/cfea/assets/img/corefx-promo.jpg');
	background-repeat: no-repeat;
}

.corefx:hover {
	background: linear-gradient(0deg, #153e539f, #153e539f), url('/wp-content/themes/cfea/assets/img/corefx-promo.jpg');
	cursor: pointer;
	background-repeat: no-repeat;
}

.trigger {
	width: 100%;
	background: linear-gradient(0deg, #0a415eb2, #042a3f8a), url("/wp-content/themes/cfea/assets/img/trigger-promo.jpg");
	background-repeat: no-repeat;
}

.trigger:hover {
	background: linear-gradient(0deg, #153e539f, #153e539f), url("/wp-content/themes/cfea/assets/img/trigger-promo.jpg");
	cursor: pointer;
	background-repeat: no-repeat;
}

.firstaid {
	width: 100%;
	background: linear-gradient(0deg, #0a415eb2, #042a3f8a), url("/wp-content/themes/cfea/assets/img/firstaid-promo.jpg");
	background-repeat: no-repeat;
}

.firstaid:hover {
	background: linear-gradient(0deg, #153e539f, #153e539f), url("/wp-content/themes/cfea/assets/img/firstaid-promo.jpg");
	cursor: pointer;
	background-repeat: no-repeat;
}

.vipr {
	width: 100%;
	background: linear-gradient(0deg, #0a415eb2, #042a3f8a), url("/wp-content/themes/cfea/assets/img/vipr-promo.jpg");
	background-repeat: no-repeat;
}

.vipr:hover {
	background: linear-gradient(0deg, #153e539f, #153e539f), url("/wp-content/themes/cfea/assets/img/vipr-promo.jpg");
	cursor: pointer;
	background-repeat: no-repeat;
}

#viprBanner {
	width: 82%;
	padding-top: 25px;
	padding-bottom: 25px;
}


/* ABOUT US --------------------------------------------------------------------------------------------------------------------------------------- */

.teamMemberImg {
	-webkit-filter: grayscale(50%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(50%);
}

.top-row {
    margin-top: 30px;
}

.memberAbout {
	margin-right: 100px;
	font-family: 'Lato', sans-serif;
}

.memberContact {
	list-style: none;
}

.alignCenter {
	text-align: center;
	font-family: 'Staatliches', cursive;
}

.aboutUs {
	font-family: 'Lato', sans-serif;
}

.accordion-title {
	text-align: center;
	background-color: #0a415e;
	color: white;
	font-size: 25px;
}

.accordion-title::before {
	content: "\25bc";
	margin-top: -18px;
	font-size: 25px;
}

.contactUsTitle>h1 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-family: 'Staatliches', cursive;
}

button.wsf-button {
	background-color: #0a415e;
	border-color: #0a415e;
	color: #FFFFFF;
}



/* PROGRAMS LANDING ------------------------------------------------------------------------------------------------------------------------------------- */

.progDesc {
	text-align: left;
	margin-top: 25px;
	margin-bottom: 25px;
}

.programTables td {
	text-align: center;
}

.progHead {
	color: #0a415e;
	text-align: center;
}

.programButton {
	margin-left: 160px;
	/* background-color: #aa2527;
    color: #FFF; */
	padding: 10px;
}

.programButton:hover {
	background-color: #901f21;
}

.programBox {
	background-color: #0a415e;
	padding: 15px;
	margin: 10px;
}

.programBox td {
	text-align: center;
}

.programsTitle,
.programInfo {
	text-align: center;
}

.plAccordianTitle {
	text-align: center;
	font-size: 22pt;
	color: white;
}

.pRCAccordianTitle {
	text-align: center;
	font-size: 22pt;
	color: white;
	background-color: #0a415e;
	border: 2pt solid #0a415e;
}

.plAccordian {
	text-align: center;
	background-color: #0a415e;
}

.accordion-title::before {
	content: "\25bc";
	margin-top: -18px;
	font-size: 25px;
}




/* TRIGGERPOINT ----------------------------------------------------------------------------------------------------------------------------------------- */

#trigLogo {
	width: 200px;
	margin-left: 600px;
}

#trigLogo2 {
	width: 200px;
	margin-left: 800px;
	margin-bottom: 50px;
}

#trigBanner {
	width: 82%;
	padding-bottom: 25px;
	padding-top: 25px;
}


/* COREFX ---------------------------------------------------------------------------------------------------------------------------------------------- */

#corefxLogo {
	width: 200px;
	margin-left: 870px;
	margin-bottom: 50px;
}

.descList {
	text-align: left;
}

.coreBox {
	margin-left: 100px;
}

#corefxBanner {
	width: 82%;
	padding-bottom: 25px;
	padding-top: 25px;
}

#corefxLogo2 {
	width: 200px;
	margin-left: 870px;
	margin-bottom: 50px;
}

/* RED CROSS */

#redCrossLogo {
	width: 200px;
	margin-left: 580px;
}

.rcImg {
	width: 100%;
	height: 445px;
}

.rcVideo {
	margin-left: 50px;
	margin-bottom: 100px;
	margin-top: 50px;
}

/* CANFITPRO ----------------------------------------------------------------------------------------------------------------------------------------- */

#canfitproLogo {
	width: 250px;
}

/* VIPR ---------------------------------------------------------------------------------------------------------------------------------------------- */

#viprLogo {
	width: 200px;
	margin-left: 600px;
}

/* CONTACT US */

    .contactTitle h2 {
		font-size: 2em;
		margin: 0;
		padding: 0;
		margin-left: 8.25%;
		margin-bottom: .5em;
		margin-top: .5em;
		font-family: 'Lato', sans-serif;
	}
	.contactForm {
		margin-bottom: 1em;
	}

/* CALENDER */


/* FOOTER ----------------------------------------------------------------------------------------------------------------------------------------- */

footer {
    background-color: #E3E3E3;
    margin: 0;
    padding: 0;
}
/* changed the padding on the footerNav section */
.footerNav {
    padding-left: 4em;
}
.footerNav h2 {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
    margin-left: 0.8em;
    font-family: 'Lato', sans-serif;
    margin-top: .75em;
}
/* controls the logo section and where the logo ends up being placed */



/* rfgdsfdsfdsfds */

.logo {
    text-align: right;
    margin: 0 auto;
    margin-top: 4.5em;
}
/* sizes the logo */
.logo img {
    width: 75%;
    height: auto;
}
.logo p {
    font-family: 'Lato', sans-serif;
    margin-top: .2em;
    font-size: 1em;
}

/* controls the main footer menu */
#footer-menu {
    padding: 0;
    margin: 0;
    margin-top: 2em;
}
#footer-menu ul {
    list-style: none;
    padding: 0;
    display: inline;
}
#footer-menu ul li {
    float: right;
}
#footer-menu a {
    padding-right: 0;
}
/* controls the program menu */
#program-menu {
    margin: 0;
    padding: 0;
}
#program-menu a {
    margin: 0;
    padding-top: .2em;
    padding-right: 0;
}
/* controls the contact section */
.contactInfo {
    padding: 0;
    margin-top: 2.4em;
    margin-left: 3%;
}
.contactInfo p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: left;
    margin: 0;
    padding: 0;
}

.contactInfo h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    text-align: right;
}

.newsLetterForm h2 {
    margin: 0;
    padding: 0;
    font-size: .6em;
    font-family: 'Lato', sans-serif;
    margin: .5em 0 .5em 12.5%;
}
.wsf-grid {
    margin-left: 0px;
    margin-right: 0px !important;
}
button.wsf-button.wsf-button-primary:hover {
    background-color: #901f21;
}
input[type=checkbox].wsf-field+.wsf-label {
    font-size: .8em;
    margin-bottom: 0 !important;
}
/* controls the social media icons */
.socialMediaIcons {
    margin-left: 40%;
    margin-top: 0;
}
.socialMedia {
    font-size: 2em;
    margin-top: .4em;
    padding-left: 1.5em;
    text-align: left;
    margin-bottom: 1em;
}
.fbIcon {
    font-size: 1.5em;
    color: black;
    margin-right: .25em;
}
.fbIcon:hover {
    color: #901f21;
}
.twitterIcon {
    font-size: 1.5em;
    color: black;
    margin-right: .25em;
}
.twitterIcon:hover {
    color: #901f21;
}
.instagramIcon {
    font-size: 1.5em;
    color: black;
}
.instagramIcon:hover {
    color: #901f21;
}




/* SMALL ONLY ----------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 39.9375em) {

/* ----  NAV ---- */
	.top-bar ul {
		background-color: #fff !important;
    }

    .logoImg {
		width: 140px;
		height: auto;
		margin-left: 20%;
		padding: 10px;
	}
	.menu-item {
		font-size: 10pt;
		word-spacing: 4px;
	}
	li~a {
		padding: 0;
	}
	.title-bar {
		background: #868686 !important;
    }
    
/* ---- FOOTER ---- */

    /* styles the footer background */
	footer {
		background-color: #E3E3E3;
		margin: 0;
		padding: 0;
	}
	/* changed the padding on the footerNav section */
	.footerNav {
		font-size: 1.5em;
		padding-left: .2em;
	}
	.footerNav h2 {
		font-size: 1em;
		margin: 0;
		padding: 0;
		margin-left: 4%;
		font-family: 'Lato', sans-serif;
		margin-bottom: 0.25em;
	}
	/* controls the logo section and where the logo ends up being placed */
	.logo {
		text-align: center;
		margin: 0 auto;
		margin-top: 1em;
	}
	/* sizes the logo */
	.logo img {
		width: 40%;
		height: auto;
	}
	/* controls the main footer menu */
	#footer-menu {
		padding: 0;
		margin: 0;
		margin-top: 1em;
	}
	#footer-menu ul {
		list-style: none;
		padding: 0;
		display: inline;
	}
	#footer-menu ul li {
		float: right;
	}
	/* controls the program menu */
	#program-menu {
		margin: 0;
		padding: 0;
	}
	#program-menu a {
		margin: 0;
		padding-top: .2em;
	}
	/* controls the contact section */
	.contactInfo {
		padding: 0;
		margin-top: .5em;
	}
	.contactInfo p {
		font-family: 'Lato', sans-serif;
		font-size: .65em;
		text-align: left;
		margin-left: 2%;
	}
	/* controls the form section */
	.newsLetterForm p {
		font-family: 'Lato', sans-serif;
		font-size: 1em;
		text-align: left;
	}
	.newsLetterForm p {
		margin: 0;
		padding: 0;
	}
	.newsLetterForm h2 {
		margin: 0;
		padding: 0;
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		margin: .5em 0 .5em 12.5%;
	}
	.wsf-grid {
		margin-left: 0px;
		margin-right: 0px !important;
	}
	button.wsf-button.wsf-button-primary:hover {
		background-color: #901f21;
	}
	input[type=checkbox].wsf-field+.wsf-label {
		font-size: .8em;
		margin-bottom: 0 !important;
	}
	/* controls the social media icons */
	.socialMediaIcons {
		margin-left: 40%;
		margin-top: 0;
	}
	.socialMedia {
		font-size: 1em;
		margin-top: 0;
		padding-left: 0;
		margin-bottom: 1em;
	}
	.fbIcon {
		font-size: 1.5em;
		color: black;
		margin-right: .25em;
	}
	.fbIcon:hover {
		color: #901f21;
	}
	.twitterIcon {
		font-size: 1.5em;
		color: black;
		margin-right: .25em;
	}
	.twitterIcon:hover {
		color: #901f21;
	}
	.instagramIcon {
		font-size: 1.5em;
		color: black;
	}
	.instagramIcon:hover {
		color: #901f21;
	}
    

    /* contact us */
	.contactTitle h2 {
		font-size: 2em;
		margin: 0;
		padding: 0;
		margin-left: 8.25%;
		margin-bottom: .5em;
		margin-top: .5em;
		font-family: 'Lato', sans-serif;
	}
	.contactForm {
		margin-bottom: 1em;
	}

} 


/* MEDIUM ONLY ----------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.logoImg {
		width: 120px;
		height: auto;
		margin-top: 30px;
	}
	.logoDiv {
		text-align: center !important;
	}
	.center {
		text-align: center !important;
		margin: 0 auto;
	}
}
